# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE settings
.vscode/
.idea/
*.swp
*.swo
